* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: aliceblue;
    margin: 0;
    padding: 0;
}

#gridcontainer {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template: 55px repeat(3, 1fr)/repeat(4, 1fr);
    grid-template-areas: 
        "header header header header"
        "aside1 main main aside2"
        "aside1 main main aside2"
        "footer footer footer footer";
}

header {
    grid-area: header;
    align-self: self-start;
    display: flex;
    padding: 20px;
    justify-content: end;
    background-color: aquamarine;
}

#sitename {
    position: absolute;
    left: 20px;
    margin-top: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    font-weight: bolder;
}

.mobilenav {
    display: none;
}

#nav a {
    padding: 10px;
}

#nav a:hover {
    background-color: aliceblue;
    border-radius: 15px;
    cursor: pointer;
}

#reklam {
    grid-area: aside1;
    justify-self: center;
    align-self: center;
}

main {
    height: 750px;
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main video {
    max-width: 500px;
    min-width: 40vw;
}

#about {
    grid-area: aside2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: aquamarine;
}

#mepic img {
    width: 150px;
}

#about:last-child {
    flex-grow: 1;
}

footer {
    grid-area: footer;
    align-self: self-end;
    padding: 10px;
    background-color: aquamarine;
}

/*Sten Sax Påse*/
.game-logo {
    display: block;
    height: 200px;
}

.moves {
    width: 300px;
}

.move-button {
    width: 90px;
    padding: 5px;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid #512d38;
    border-radius: 45px;
}

.img-move {
    width: 80px;
}

.css-resultat {
    font-size: x-large;
}

.css-moves, .css-score {
    font-size: medium;
}

/*Adopt pet*/
#adoptpetcanvas {
    height: 500px;
    width: 500px;
    background-color: black;
}

main form {
    display: grid;
    grid-template: repeat(3, 25%)/repeat(4, 25%);
    grid-gap: 2px;
    width: 500px;
    height: 100px;
}

#submitbttn {
    grid-area: 3/2/4/4;
    justify-self: center;
    width: 60px;
}

@media (max-width: 768px) {
    #gridcontainer {
        grid-template-areas: 
            "header header header header"
            "aside1 aside1 aside1 aside1"
            "main main main main"
            "main main main main"
            "main main main main"
            "aside2 aside2 aside2 aside2"
            "aside2 aside2 aside2 aside2"
            "footer footer footer footer";
    }

    #oatly {
        transform: rotate(90deg);
    }

    #about {
        flex-direction: row;
    }
}