* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: aliceblue;
    margin: 0;
    padding: 0;
}

#gridcontainer {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template: repeat(4, auto)/repeat(4, 1fr);
    grid-template-areas: 
        "header header header header"
        "main main main aside"
        "main main main aside"
        "footer footer footer footer";
}

header {
    grid-area: header;
    align-self: self-start;
    display: flex;
    padding: 20px;
    justify-content: end;
    background-color: plum;
    border-bottom: 2px solid #512d38;
}

#sitename {
    position: absolute;
    left: 20px;
    margin-top: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    font-weight: bolder;
}

#navmobile {
    display: none;
}

#navmobile .dropbtn {
    border: none;
    background-color: plum;
}

#navmobile .dropbtn img {
    height: 50px;
    width: 50px;
}

#navmobile .droplinks {
    position: absolute;
}

#navmobile .droplinks a:first-child {
    border-top: 1px solid black;
}

#navmobile .droplinks a {
    display: block;
    color: black;
    font-size: large;
    padding: 10px;
    z-index: 1;
    text-decoration: none;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    background-color: lavenderblush;
}

#navbttns a {
    padding: 10px;
    color: black;
    text-decoration: none;
}

#navbttns a:hover {
    background-color: lavenderblush;
    border-radius: 15px;
    cursor: pointer;
}

main {
    grid-area: main;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main img {
    max-width: 100vw;
}

main p {
    margin-left: 30px;
    margin-right: 20px;
}

#about {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    background-color: plum;
}

#mepic img {
    width: 150px;
}

#about p {
    padding: 20px;
}

footer {
    grid-area: footer;
    align-self: self-end;
    padding: 10px;
    background-color: plum;
    border-top: 2px solid #512d38;
}

/*Sten Sax Påse*/
.game-logo {
    display: block;
    height: 200px;
}

.moves {
    width: 300px;
}

.move-button {
    width: 90px;
    padding: 5px;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid #512d38;
    border-radius: 45px;
}

.img-move {
    width: 80px;
}

.css-resultat {
    font-size: x-large;
}

.css-moves, .css-score {
    font-size: medium;
}

/*Adopt pet*/
#adoptpetcanvas {
    height: 500px;
    width: 500px;
    background-color: white;
    border: 2px solid black;
    z-index: 0;
}

main form {
    display: grid;
    grid-template: repeat(3, 25%)/repeat(4, 25%);
    grid-gap: 2px;
    width: 500px;
    height: 100px;
}

#resetbttn {
    grid-area: 3/2/4/4;
    justify-self: center;
    width: 60px;
}

/*iframes video*/
#iframecontainer {
    display: grid;
    grid-template: 50px 50px 315px 50px/50px 560px 50px;
}

#iframecontainer img {
    grid-area: 1/2/2/3;
    width: 260px;
    justify-self: center;
}

#tvruta {
    grid-area: 2/1/5/4;
    background-color: red;
    border: 2px solid black;
    border-radius: 50px;
}

#iframejs {
    width: 560px;
    height: 315px;
    border: 2px solid black;
    background-color: black;
    grid-area: 3/2/4/3;
}

#menubttn {
    grid-area: 4/2/5/3;
    justify-self: center;
    align-self: center;
    cursor: pointer;
    height: 30px;
    background-color: black;
    color: white;
}

/*Responsiv design*/
@media (max-width: 768px) {
    #gridcontainer {
        grid-template-areas: 
            "header header header header"
            "main main main main"
            "aside aside aside aside"
            "footer footer footer footer";
    }

    header {
        justify-content: start;
    }

    #sitename {
        right: 20px;
        left: auto;
    }

    #navpc {
        display: none;
    }

    #navmobile {
        display: block;
    }

    #about {
        flex-direction: row;
    }

    #adoptpetmain {
        transform: scale(0.75);
    }
}

@media (max-width: 600px) {
    #iframecontainer {
        transform: scale(0.5);
    }
}

@media (max-width: 380px) {
    #adoptpetmain {
        transform: scale(0.65);
    }

    #about {
        flex-direction: column;
    }
}